
.quienes-somos {
    background-color: #000;
  }
  
  .icon-box {
    background-color: #00cce5;
    padding: 0.15rem;
    font-size: 2rem;
    color: white;
    margin-bottom: 1rem;
  }
  
  .text-justify {
    text-align: justify;
  }
  